<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Apostrophe</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Apostrophe is a content management system that helps you stay on mission.</p>
                <p><a class="btn btn-success btn-block" href="http://apostrophenow.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">ContentBlocks</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Create simple editable CMS content blocks in node.js. Wrapper for Create.js CMS framework.
                    ContentBlocks is a wrapper for the Create.js CMS interface. It allows you to define CMS editable content blocks within your web pages by including HTML5 tags around your content. After adding the markup, simply click Edit in the Create.js toolbar to edit your content in-line on the page. Click Save to persist the data to your CMS back-end web service.
                    ContentBlocks includes a node.js module to pre-render CMS content upon page-load. It also includes pre-defined routes and REST web service integration for saving content back to the CMS. In short, ContentBlocks makes it easy to use the Create.js CMS framework in node.js.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/primaryobjects/contentblocks" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">DocPad</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">DocPad removes limitations and closes the gap between experts and beginners. Designers and developers can create websites faster than ever before.</p>
                <p><a class="btn btn-success btn-block" href="https://docpad.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Hatch.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Hatch is an open source CMS platform, fast, flexible and extendable, built from the ground up to support today's expectations – simple, beautiful, responsive and social.</p>
                <p><a class="btn btn-success btn-block" href="http://hatchjs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Node.js MVC CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Simple blogging MVC CMS written in Nodejs and MongoDB.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/dpirek/nodejs-mvc-cms" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Nodize CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Nodize is an open source Content Management System for Node.js, written in CoffeeScript.
                    Nodize is an adaption of Ionize, a PHP CMS, to the Node.js platform.
                    Nodize is developed on top of Express and Zappa and is using Sequelize to manage the connection to the MySQL database.</p>
                <p><a class="btn btn-success btn-block" href="http://nodize.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">postit</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Just a little experimental Content Management System for real-time blogging.
                    This is just a little exercise I have done to understand some new technologies like Node.js, Express.js, Socket.io, MongoDB and Backbone.js.</p>
                <p><a class="btn btn-success btn-block" href="http://postit.xpress.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Wheat</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Wheat is a blogging engine that reads a git repo full of markdown articles and presents them as a website.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/creationix/wheat" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>