<div class="row">
    <div class="col-lg-12">
        <h5>Dotenv - <a href="https://github.com/motdotla/dotenv" target="_blank">Website</a></h5>
        <p>Loads environment variables from .env for nodejs projects.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>jDistiller - <a href="https://github.com/bcoe/jDistiller" target="_blank">Website</a></h5>
        <p>A page scraping DSL for extracting structured information from unstructured XHTML, built on Node.js and jQuery.</p>
    </div>
</div>