<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Colors.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Get color and style in your node.js console.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/Marak/colors.js" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Dotenv</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Loads environment variables from .env for nodejs projects.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/motdotla/dotenv" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">jDistiller</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A page scraping DSL for extracting structured information from unstructured XHTML, built on Node.js and jQuery.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/bcoe/jDistiller" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Lo-Dash</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A utility library delivering consistency, customization, performance, & extras.</p>
                <p><a class="btn btn-success btn-block" href="https://lodash.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>