<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Express.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Fast, unopinionated, minimalist web framework for Node.js.</p>
                <p><a class="btn btn-success btn-block" href="http://expressjs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Koa.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Koa is a new web framework designed by the team behind Express, which aims to be a smaller, more expressive, and more robust foundation for web applications and APIs. Through leveraging generators Koa allows you to ditch callbacks and greatly increase error-handling. Koa does not bundle any middleware within core, and provides an elegant suite of methods that make writing servers fast and enjoyable.</p>
                <p><a class="btn btn-success btn-block" href="http://koajs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>