<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Buttons</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A CSS button library built using Sass and Compass.</p>
                <p><a class="btn btn-primary btn-block" href="https://github.com/alexwolfe/Buttons" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Colors</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Smarter defaults for colors on the web.</p>
                <p><a class="btn btn-primary btn-block" href="https://github.com/mrmrs/colors" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Ionicons</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The premium icon font for Ionic Framework.</p>
                <p><a class="btn btn-primary btn-block" href="https://github.com/driftyco/ionicons" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>