<div class="row">
    <div class="col-lg-12">
        <h5>Picasso - <a href="http://square.github.io/picasso/" target="_blank">Website</a></h5>
        <p>A powerful image downloading and caching library for Android.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Rebound - <a href="http://facebook.github.io/rebound/" target="_blank">Website</a></h5>
        <p>Rebound is a java library that models spring dynamics. Rebound spring models can be used to create animations that feel natural by introducing real world physics to your application.
            Rebound is not a general purpose physics library; however, spring dynamics can be used to drive a wide variety of animations. The simplicity of Rebound makes it easy to integrate and use as a building block for creating more complex components like pagers, toggles, and scrollers.
            Rebound uses the same spring constants as Origami making it easy to convert Origami interaction mockups directly into your Android application.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Test Fairy - <a href="http://www.testfairy.com/" target="_blank">Website</a></h5>
        <p>Android Beta Testing Has Never Been Easier.</p>
    </div>
</div>