<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Webix</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Develop Firefox OS Apps With the Webix Library.</p>
                <p><a class="btn btn-warning btn-block" href="http://webix.com/firefox/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>


</div>