<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Amazon Web Services</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Cloud Computing Services.</p>
                <p><a class="btn btn-info btn-block" href="http://aws.amazon.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Azure (Microsoft)</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Microsoft's Cloud Platform.</p>
                <p><a class="btn btn-info btn-block" href="https://azure.microsoft.com/en-us/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Digital Ocean</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Simple cloud hosting, built for developers.</p>
                <p><a class="btn btn-info btn-block" href="https://www.digitalocean.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Google Cloud</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Google Cloud Computing, Hosting Services &amp; Cloud Support.</p>
                <p><a class="btn btn-info btn-block" href="https://cloud.google.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Heroku</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Cloud Application Platform.</p>
                <p><a class="btn btn-info btn-block" href="https://www.heroku.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Nodejitsu</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Node.js hosting, cloud products and services.</p>
                <p><a class="btn btn-info btn-block" href="https://www.nodejitsu.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>