<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Cloud9</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Your development environment, in the cloud.</p>
                <p><a class="btn btn-default btn-block" href="https://c9.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">CodeAnywhere</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Collaboration platform for developers.</p>
                <p><a class="btn btn-default btn-block" href="https://codeanywhere.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Codebox</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Code with the same editor on your desktop and in the cloud.</p>
                <p><a class="btn btn-default btn-block" href="https://www.codebox.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>