<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Admin Page Framework</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Provides simpler means of building administration pages for plugin and theme developers.</p>
                <p><a class="btn btn-default btn-block" href="https://wordpress.org/plugins/admin-page-framework/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Capability Manager Enhanced</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A simple way to manage WordPress roles and capabilities.</p>
                <p><a class="btn btn-default btn-block" href="https://wordpress.org/plugins/capability-manager-enhanced/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Live Edit</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Edit the title, content and any ACF fields from the front end of your website!.</p>
                <p><a class="btn btn-default btn-block" href="https://wordpress.org/plugins/live-edit/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Piklist</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Build Powerful Websites & Applications with WordPress.</p>
                <p><a class="btn btn-default btn-block" href="https://piklist.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Roots</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Modern WordPress Development.</p>
                <p><a class="btn btn-default btn-block" href="http://roots.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>https://github.com/roots/soil

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Soil</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">WordPress plugin that cleans up markup, adds relative URLs, and nice search.</p>
                <p><a class="btn btn-default btn-block" href="http://roots.io/plugins/soil/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Themosis Framework</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A framework for WordPress developers.</p>
                <p><a class="btn btn-default btn-block" href="http://framework.themosis.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Titan Framework</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The easiest to use WordPress option framework.</p>
                <p><a class="btn btn-default btn-block" href="https://github.com/gambitph/Titan-Framework" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">WP Theme Detector</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Wordpress theme detector.</p>
                <p><a class="btn btn-default btn-block" href="http://www.wpthemedetector.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>
