<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">C3.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">D3-based reusable chart library.</p>
                <p><a class="btn btn-danger btn-block" href="http://c3js.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Card</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Make your credit card form better in one line of code.</p>
                <p><a class="btn btn-danger btn-block" href="http://jessepollak.github.io/card/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Chartist.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Simple Responsive Charts.</p>
                <p><a class="btn btn-danger btn-block" href="http://gionkunz.github.io/chartist-js/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Clock Picker</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A clock-style timepicker for Bootstrap (or jQuery).</p>
                <p><a class="btn btn-danger btn-block" href="http://weareoutman.github.io/clockpicker/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Ment.io</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Ment.io.</p>
                <p><a class="btn btn-danger btn-block" href="http://jeff-collins.github.io/ment.io/#/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Trianglify</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Trianglify is a javascript library for generating colorful triangle meshes that can be used as SVG images and CSS backgrounds.</p>
                <p><a class="btn btn-danger btn-block" href="http://qrohlf.com/trianglify/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Smart Fixed Navigation</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A fixed navigation that allows your users to access the menu at any time while they are experiencing your website. It's smaller than a full-width fixed header, and replaces the back-to-top button with a smarter UX solution.</p>
                <p><a class="btn btn-danger btn-block" href="http://codyhouse.co/gem/smart-fixed-navigation/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>