<div class="row">
    <div class="col-lg-12">
        <h5>Angular.js - <a href="https://angularjs.org/" target="_blank">Website</a></h5>
        <p>HTML enhanced for web apps!</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Backbone.js - <a href="http://backbonejs.org/" target="_blank">Website</a></h5>
        <p>Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Ember.js - <a href="http://emberjs.com/" target="_blank">Website</a></h5>
        <p>A framework for creating ambitious web applications</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>jQuery - <a href="http://jquery.com/" target="_blank">Website</a></h5>
        <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation, and Ajax much simpler with an easy-to-use API that works across a multitude of browsers. With a combination of versatility and extensibility, jQuery has changed the way that millions of people write JavaScript.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Knockout.js - <a href="http://knockoutjs.com/" target="_blank">Website</a></h5>
        <p>Simplify dynamic JavaScript UIs with the Model-View-View Model (MVVM)</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Sproutcore - <a href="http://sproutcore.com/" target="_blank">Website</a></h5>
        <p>SproutCore is an open-source framework for building blazingly fast, innovative user experiences on the web.</p>
    </div>
</div>