<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Converse.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A free and open-source XMPP chat client for your website.</p>
                <p><a class="btn btn-success btn-block" href="https://conversejs.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Dense</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Blows your visitors' retinas.</p>
                <p><a class="btn btn-success btn-block" href="http://dense.rah.pw/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">ES5-Shim</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">ECMAScript 5 compatibility shims for legacy JavaScript engines.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/es-shims/es5-shim" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Fingerprint.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Fast browser fingerprint library. Written in pure JavaScript, no dependencies. By default uses Murmur hashing and returns a 32bit integer number.
                    Hashing function can be easily replaced. Feather weight: only 843 bytes when gzipped.</p>
                <p><a class="btn btn-success btn-block" href="http://valve.github.io/fingerprintjs/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">hello.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A client-side Javascript SDK for authenticating with OAuth2 (and OAuth1 with a oauth proxy) web services and querying their REST API's. HelloJS standardizes paths and responses to common API's like Google Data Services, Facebook Graph and Windows Live Connect. It's modular, so that list is growing. No more spaghetti code!</p>
                <p><a class="btn btn-success btn-block" href="http://adodson.com/hello.js/#hellojs" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Math.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Math.js is an extensive math library for JavaScript and Node.js. It features a flexible expression parser and offers an integrated solution to work with numbers, big numbers, complex numbers, units, and matrices. Powerful and easy to use.</p>
                <p><a class="btn btn-success btn-block" href="http://mathjs.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Midnight.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Midnight.js lets you switch fixed headers on the fly.</p>
                <p><a class="btn btn-success btn-block" href="http://aerolab.github.io/midnight.js/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">randomColor</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A color generator for JavaScript.</p>
                <p><a class="btn btn-success btn-block" href="http://llllll.li/randomColor/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>