<div class="row">
    <div class="col-lg-12">
        <h5>C3.js - <a href="http://c3js.org/" target="_blank">Website</a></h5>
        <p>D3-based reusable chart library.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Converse.js - <a href="https://conversejs.org/" target="_blank">Website</a></h5>
        <p>A free and open-source XMPP chat client for your website.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>ES5-Shim - <a href="https://github.com/es-shims/es5-shim" target="_blank">Website</a></h5>
        <p>ECMAScript 5 compatibility shims for legacy JavaScript engines.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Fingerprint.js - <a href="http://valve.github.io/fingerprintjs/" target="_blank">Website</a></h5>
        <p>Fast browser fingerprint library. Written in pure JavaScript, no dependencies. By default uses Murmur hashing and returns a 32bit integer number. Hashing function can be easily replaced. Feather weight: only 843 bytes when gzipped.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>randomColor - <a href="http://llllll.li/randomColor/" target="_blank">Website</a></h5>
        <p>A color generator for JavaScript.</p>
    </div>
</div>