<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">C3.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">D3-based reusable chart library.</p>
                <p><a class="btn btn-success btn-block" href="http://c3js.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Converse.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A free and open-source XMPP chat client for your website.</p>
                <p><a class="btn btn-success btn-block" href="https://conversejs.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">ES5-Shim</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">ECMAScript 5 compatibility shims for legacy JavaScript engines.</p>
                <p><a class="btn btn-success btn-block" href="https://github.com/es-shims/es5-shim" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Fingerprint.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Fast browser fingerprint library. Written in pure JavaScript, no dependencies. By default uses Murmur hashing and returns a 32bit integer number.
                    Hashing function can be easily replaced. Feather weight: only 843 bytes when gzipped.</p>
                <p><a class="btn btn-success btn-block" href="http://valve.github.io/fingerprintjs/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title text-center">randomColor</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A color generator for JavaScript.</p>
                <p><a class="btn btn-success btn-block" href="http://llllll.li/randomColor/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>