<div class="row">
    <div class="col-lg-12">
        <h5>Chocolatechip UI - <a href="http://chocolatechip-ui.com/" target="_blank">Website</a></h5>
        <p>Native Look For Web Apps. Powerful, Simple, Clean</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Onsen UI - <a href="http://s.onsen.io/" target="_blank">Website</a></h5>
        <p>The Answer to PhoneGap UI Development. A Custom Elements-Based HTML5 UI Framework</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Telerik iOS UI - <a href="http://www.telerik.com/ios-ui" target="_blank">Website</a></h5>
        <p>Native and customizable UI controls for building iOS apps</p>
    </div>
</div>