<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Chocolatechip UI</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Native Look For Web Apps. Powerful, Simple, Clean.</p>
                <p><a class="btn btn-warning btn-block" href="http://chocolatechip-ui.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Onsen UI</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The Answer to PhoneGap UI Development. A Custom Elements-Based HTML5 UI Framework.</p>
                <p><a class="btn btn-warning btn-block" href="http://s.onsen.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Telerik iOS UI</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Native and customizable UI controls for building iOS apps.</p>
                <p><a class="btn btn-warning btn-block" href="http://www.telerik.com/ios-ui" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>