<div class="row">
    <div class="col-lg-12">
        <h5>Play Frameworks - <a href="https://www.playframework.com/" target="_blank">Website</a></h5>
        <p>The High Velocity Web Framework for Java and Scala.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Spring Framework - <a href="http://projects.spring.io/spring-framework/" target="_blank">Website</a></h5>
        <p>The Spring Framework provides a comprehensive programming and configuration model for modern Java-based enterprise applications - on any kind of deployment platform. A key element of Spring is infrastructural support at the application level: Spring focuses on the "plumbing" of enterprise applications so that teams can focus on application-level business logic, without unnecessary ties to specific deployment environments.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Tapestry - <a href="http://tapestry.apache.org/" target="_blank">Website</a></h5>
        <p>Component oriented framework for creating dynamic, robust, highly scalable web applications in Java.</p>
    </div>
</div>