<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Spark Java</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A tiny Sinatra inspired framework for creating web applications in Java 8 with minimal effort.</p>
                <p><a class="btn btn-danger btn-block" href="http://sparkjava.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>