<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Bonfire (Code Igniter)</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Jump Start your CodeIgniter applications.
                    Take the monotony away with this powerful, open source PHP solution.</p>
                <p><a class="btn btn-primary btn-block" href="http://cibonfire.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Grocery CRUD</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Grocery CRUD is an open source library that makes a developer's life easier. Just few lines of code and you can create a full stable CRUD with nice views.
                    A completely automatic system that even a newbie in PHP can work with.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.grocerycrud.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Orchestra Platform</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Orchestra Platform provide all the boilerplate for your application, so you can create awesomeness.</p>
                <p><a class="btn btn-primary btn-block" href="http://orchestraplatform.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>