<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Doptor</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Next Generation, Responsive, Free & Opensource, Laravel based Doptor CMS & EMS.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.doptor.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Drupal</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Drupal is an open source content management platform powering millions of websites and applications. It’s built, used, and supported by an active and diverse community of people around the world.</p>
                <p><a class="btn btn-primary btn-block" href="https://www.drupal.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Indira CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Indira CMS - Most easily customizable functionality and design, and everyone just curious why the lemon?</p>
                <p><a class="btn btn-primary btn-block" href="http://indira-cms.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Joomla</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The platform millions of website are built on.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.joomla.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">October</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">October is a free, open-source, self-hosted CMS platform based on the Laravel PHP Framework. It is a productivity tool for building modern websites based on flexible patterns and principals rooted in simplicity.</p>
                <p><a class="btn btn-primary btn-block" href="https://octobercms.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Pongo CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A flexible and powerful CMS to easily build and manage your multilingual website.</p>
                <p><a class="btn btn-primary btn-block" href="http://pongocms.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Pyro CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">PyroCMS is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications. With an ever growing community and a large selection of modules, themes and addons PyroCMS makes it easier than ever to build your website!</p>
                <p><a class="btn btn-primary btn-block" href="https://www.pyrocms.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Thor CMS</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A multipurpose Laravel 4 CMS platform and CRUD generator for everyone and any kind of project, built with multilingual support from the core.</p>
                <p><a class="btn btn-primary btn-block" href="http://thorcms.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Wordpress</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">WordPress is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the same time.</p>
                <p><a class="btn btn-primary btn-block" href="https://wordpress.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>