<div class="row">
    <div class="col-lg-12">
        <h5>Drupal - <a href="https://www.drupal.org/" target="_blank">Website</a></h5>
        <p>Drupal is an open source content management platform powering millions of websites and applications. It’s built, used, and supported by an active and diverse community of people around the world.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Joomla - <a href="http://www.joomla.org/" target="_blank">Website</a></h5>
        <p>The platform millions of website are built on</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Wordpress - <a href="https://wordpress.org/" target="_blank">Website</a></h5>
        <p>WordPress is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the same time.</p>
    </div>
</div>