<div class="row">
    <div class="col-lg-12">
        <h5>Doptor - <a href="http://www.doptor.org/" target="_blank">Website</a></h5>
        <p>Next Generation, Responsive, Free & Opensource, Laravel based Doptor CMS & EMS.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Drupal - <a href="https://www.drupal.org/" target="_blank">Website</a></h5>
        <p>Drupal is an open source content management platform powering millions of websites and applications. It’s built, used, and supported by an active and diverse community of people around the world.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Indira CMS - <a href="http://indira-cms.com/" target="_blank">Website</a></h5>
        <p>Indira CMS - Most easily customizable functionality and design, and everyone just curious why the lemon?</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Joomla - <a href="http://www.joomla.org/" target="_blank">Website</a></h5>
        <p>The platform millions of website are built on</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>October - <a href="https://octobercms.com/" target="_blank">Website</a></h5>
        <p>October is a free, open-source, self-hosted CMS platform based on the Laravel PHP Framework. It is a productivity tool for building modern websites based on flexible patterns and principals rooted in simplicity.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Pongo CMS - <a href="http://pongocms.com/" target="_blank">Website</a></h5>
        <p>A flexible and powerful CMS to easily build and manage your multilingual website.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Pyro CMS - <a href="https://www.pyrocms.com/" target="_blank">Website</a></h5>
        <p>PyroCMS is used by individuals, small & medium-sized businesses, and large organizations worldwide to easily create & build a variety of websites & web-enabled applications. With an ever growing community and a large selection of modules, themes and addons PyroCMS makes it easier than ever to build your website!</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Thor CMS - <a href="http://thorcms.com/" target="_blank">Website</a></h5>
        <p>A multipurpose Laravel 4 CMS platform and CRUD generator for everyone and any kind of project, built with multilingual support from the core.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Wordpress - <a href="https://wordpress.org/" target="_blank">Website</a></h5>
        <p>WordPress is web software you can use to create a beautiful website or blog. We like to say that WordPress is both free and priceless at the same time.</p>
    </div>
</div>