<div class="row">
    <div class="col-lg-12">
        <h5>Code Igniter - <a href="https://ellislab.com/codeigniter" target="_blank">Website</a></h5>
        <p>A Fully Baked PHP Framework CodeIgniter is a proven, agile & open PHP web application framework with a small footprint. It is powering the next generation of web apps.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Laravel - <a href="http://laravel.com/" target="_blank">Website</a></h5>
        <p>The PHP Framework For Web Artisans. PHP That Doesn't Hurt. Code Happy & Enjoy The Fresh Air.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Symfony - <a href="http://symfony.com/" target="_blank">Website</a></h5>
        <p>Symfony is a set of reusable PHP components and a PHP framework for web projects</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Yes It Is (YII) - <a href="http://www.yiiframework.com/" target="_blank">Website</a></h5>
        <p>The Fast, Secure and Professional PHP Framework
            Yii is a high-performance PHP framework best for developing Web 2.0 applications.
            Yii comes with rich features: MVC, DAO/ActiveRecord, I18N/L10N, caching, authentication and role-based access control, scaffolding, testing, etc. It can reduce your development time significantly.</p>
    </div>
</div>