<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Code Igniter</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A Fully Baked PHP Framework CodeIgniter is a proven, agile & open PHP web application framework with a small footprint. It is powering the next generation of web apps.</p>
                <p><a class="btn btn-primary btn-block" href="https://github.com/bcit-ci/CodeIgniter" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Laravel</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The PHP Framework For Web Artisans. PHP That Doesn't Hurt. Code Happy & Enjoy The Fresh Air.</p>
                <p><a class="btn btn-primary btn-block" href="http://laravel.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Symfony</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Symfony is a set of reusable PHP components and a PHP framework for web projects.</p>
                <p><a class="btn btn-primary btn-block" href="http://symfony.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Yes It Is (YII)</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The Fast, Secure and Professional PHP Framework
                    Yii is a high-performance PHP framework best for developing Web 2.0 applications.
                    Yii comes with rich features: MVC, DAO/ActiveRecord, I18N/L10N, caching, authentication and role-based access control, scaffolding, testing, etc. It can reduce your development time significantly.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.yiiframework.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>