<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">BulletPHP</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Bullet is a functional PHP micro-framework that helps you easily create REST APIs and web applications that automatically conform to the requirements of the HTTP specification.
                    Bullet is resource and URI-oriented and comes pre-loaded with powerful HTTP features like content-negotiation and caching.</p>
                <p><a class="btn btn-primary btn-block" href="http://bulletphp.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Fat Free Framework</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A powerful yet easy-to-use PHP micro-framework designed to help you build dynamic and robust web applications - fast!</p>
                <p><a class="btn btn-primary btn-block" href="http://fatfreeframework.com/home" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Flight</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Flight is a fast, simple, extensible framework for PHP. Flight enables you to quickly and easily build RESTful web applications.</p>
                <p><a class="btn btn-primary btn-block" href="http://flightphp.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">GluePHP</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Glue is a PHP micro-framework. It provides one simple service: to maps URLs to Classes. Everything else is up to you. The database, ORM, template engine and all other components are under your control. Glue just glues everything together.
                    In MVC terms, Glue is the URL Routing and Controller portion while you have total control over your choice of a Model and View layer.</p>
                <p><a class="btn btn-primary btn-block" href="http://gluephp.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Limonade</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Limonade is a PHP micro framework for rapid web development and prototyping. It’s inspired by frameworks like Sinatra or Camping in Ruby, or Orbit in Lua. It aims to be simple, lightweight and extremly flexible.</p>
                <p><a class="btn btn-primary btn-block" href="http://limonade-php.github.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Silex</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The PHP micro-framework based on the Symfony2 Components.</p>
                <p><a class="btn btn-primary btn-block" href="http://silex.sensiolabs.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Slim Framework</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.slimframework.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>
