<div class="row">
    <div class="col-lg-12">
        <h5>BulletPHP - <a href="http://bulletphp.com/" target="_blank">Website</a></h5>
        <p>Bullet is a functional PHP micro-framework that helps you easily create REST APIs and web applications that automatically conform to the requirements of the HTTP specification. Bullet is resource and URI-oriented and comes pre-loaded with powerful HTTP features like content-negotiation and caching.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Fat Free Framework - <a href="http://fatfreeframework.com/home" target="_blank">Website</a></h5>
        <p>A powerful yet easy-to-use PHP micro-framework designed to help you build dynamic and robust web applications - fast!</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Flight - <a href="http://flightphp.com/" target="_blank">Website</a></h5>
        <p>Flight is a fast, simple, extensible framework for PHP. Flight enables you to quickly and easily build RESTful web applications.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>GluePHP - <a href="http://gluephp.com/" target="_blank">Website</a></h5>
        <p>Glue is a PHP micro-framework. It provides one simple service: to maps URLs to Classes. Everything else is up to you. The database, ORM, template engine and all other components are under your control. Glue just glues everything together.
            In MVC terms, Glue is the URL Routing and Controller portion while you have total control over your choice of a Model and View layer.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Limonade - <a href="http://limonade-php.github.io/" target="_blank">Website</a></h5>
        <p>Limonade is a PHP micro framework for rapid web development and prototyping. It’s inspired by frameworks like Sinatra or Camping in Ruby, or Orbit in Lua. It aims to be simple, lightweight and extremly flexible.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Silex - <a href="http://silex.sensiolabs.org/" target="_blank">Website</a></h5>
        <p>The PHP micro-framework based on the Symfony2 Components</p>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <h5>Slim Framework - <a href="http://www.slimframework.com/" target="_blank">Website</a></h5>
        <p>Slim is a PHP micro framework that helps you quickly write simple yet powerful web applications and APIs.</p>
    </div>
</div>
