<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Ruby on Rails</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Ruby on Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity.
                    It lets you write beautiful code by favoring convention over configuration.</p>
                <p><a class="btn btn-danger btn-block" href="http://rubyonrails.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>