<div class="row">

  <div class="col-lg-4 col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">Brakeman</h2>
      </div>
      <div class="panel-body">
        <p class="text-center">A static analysis security vulnerability scanner for Ruby on Rails applications.</p>
        <p><a class="btn btn-danger btn-block" href="http://brakemanscanner.org/" target="_blank">Visit Website</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">Rails Assets</h2>
      </div>
      <div class="panel-body">
        <p class="text-center">The solution to assets management in Rails.</p>
        <p><a class="btn btn-danger btn-block" href="https://rails-assets.org/" target="_blank">Visit Website</a></p>
      </div>
    </div>
  </div>

</div>