<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">AllTheFreeStock.com</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Get all the Free Stock Images, Videos and Icons in one location.</p>
                <p><a class="btn btn-primary btn-block" href="http://allthefreestock.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">BAD55</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">CSS hex color words for web developers.</p>
                <p><a class="btn btn-primary btn-block" href="http://bada55.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Bounce.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Bounce.js is a tool and JS library that lets you create beautiful CSS3 powered animations.</p>
                <p><a class="btn btn-primary btn-block" href="http://bouncejs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Bower</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">A package manager for the web.</p>
                <p><a class="btn btn-primary btn-block" href="http://bower.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Duo</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Duo is a next-generation package manager that blends the best ideas from Component, Browserify and Go to make organizing and writing front-end code quick and painless.</p>
                <p><a class="btn btn-primary btn-block" href="http://duojs.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Free Icon Maker</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Free Icon Maker is a creative tool that helps designers to create amazing icons!</p>
                <p><a class="btn btn-primary btn-block" href="http://freeiconmaker.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Grunt.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The JavaScript Task Runner.</p>
                <p><a class="btn btn-primary btn-block" href="http://gruntjs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Gulp.js</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The streaming build system.</p>
                <p><a class="btn btn-primary btn-block" href="http://gulpjs.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">JS Nice</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Statistical Renaming, Type Inference and Deobfuscation.</p>
                <p><a class="btn btn-primary btn-block" href="http://www.jsnice.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Kaboom Pics</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Kaboompics is the best way to get Free Photos for personal and commercial usage.</p>
                <p><a class="btn btn-primary btn-block" href="http://kaboompics.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Polymer</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Web Components usher in a new era of web development based on encapsulated and interoperable custom elements that extend HTML itself. Built atop these new standards, Polymer makes it easier and faster to create anything from a button to a complete application across desktop, mobile, and beyond.</p>
                <p><a class="btn btn-primary btn-block" href="https://www.polymer-project.org/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">SVG Icons</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Ready to use SVG icons for the web.</p>
                <p><a class="btn btn-primary btn-block" href="http://svgicons.sparkk.fr/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Web Starter Kit by Google</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Boilerplate & Tooling for Multi-Device Development.</p>
                <p><a class="btn btn-primary btn-block" href="https://developers.google.com/web/starter-kit/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Yeoman</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">The Web's Scaffolding Tool For Modern Webapps.</p>
                <p><a class="btn btn-primary btn-block" href="http://yeoman.io/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>
