<div class="row">
    <div class="col-lg-12">
        <h5>Bower - <a href="http://bower.io/" target="_blank">Website</a></h5>
        <p>A package manager for the web</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Duo - <a href="http://duojs.org/" target="_blank">Website</a></h5>
        <p>Duo is a next-generation package manager that blends the best ideas from Component, Browserify and Go to make organizing and writing front-end code quick and painless.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Free Icon Maker - <a href="http://freeiconmaker.com/" target="_blank">Website</a></h5>
        <p>Free Icon Maker is a creative tool that helps designers to create amazing icons!</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Grunt.js - <a href="http://gruntjs.com/" target="_blank">Website</a></h5>
        <p>The JavaScript Task Runner</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Gulp.js - <a href="http://gulpjs.com/" target="_blank">Website</a></h5>
        <p>The streaming build system</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Kaboom Pics - <a href="http://kaboompics.com/" target="_blank">Website</a></h5>
        <p>Kaboompics is the best way to get Free Photos for personal and commercial usage.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>SVG Icons - <a href="http://svgicons.sparkk.fr/" target="_blank">Website</a></h5>
        <p>Ready to use SVG icons for the web.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Web Starter Kit by Google - <a href="https://developers.google.com/web/starter-kit/" target="_blank">Website</a></h5>
        <p>Boilerplate & Tooling for Multi-Device Development</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Yeoman - <a href="http://yeoman.io/" target="_blank">Website</a></h5>
        <p>The Web's Scaffolding Tool For Modern Webapps</p>
    </div>
</div>
