<div class="row">
    <div class="col-lg-12">
        <h5>Bower - <a href="http://bower.io/" target="_blank">Website</a></h5>
        <p>A package manager for the web</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Grunt.js - <a href="http://gruntjs.com/" target="_blank">Website</a></h5>
        <p>The JavaScript Task Runner</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Gulp.js - <a href="http://gulpjs.com/" target="_blank">Website</a></h5>
        <p>The streaming build system</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Web Starter Kit by Google - <a href="https://developers.google.com/web/starter-kit/" target="_blank">Website</a></h5>
        <p>Boilerplate & Tooling for Multi-Device Development</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Yeoman - <a href="http://yeoman.io/" target="_blank">Website</a></h5>
        <p>The Web's Scaffolding Tool For Modern Webapps</p>
    </div>
</div>