<div class="row">
    <div class="col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title text-center">PhantomJS</h2>
        </div>
        <div class="panel-body">
            <p class="text-center">PhantomJS is a headless WebKit scriptable with a JavaScript API. It has fast and native support for various web standards: DOM handling, CSS selector, JSON, Canvas, and SVG.</p>
            <p><a class="btn btn-info btn-block" href="http://phantomjs.org/" target="_blank">Visit Website</a></p>
        </div>
    </div>
</div>

</div>