<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Bottle</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Bottle is a fast, simple and lightweight WSGI micro web-framework for Python. It is distributed as a single file module and has no dependencies other than the Python Standard Library.</p>
                <p><a class="btn btn-primary btn-block" href="http://bottlepy.org/docs/dev/index.html" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Flask</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>
                <p><a class="btn btn-primary btn-block" href="http://flask.pocoo.org" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>