<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">AFNetworking</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">AFNetworking is a delightful networking library for iOS and Mac OS X. It's built on top of the Foundation URL Loading System, extending the powerful high-level networking abstractions built into Cocoa. It has a modular architecture with well-designed, feature-rich APIs that are a joy to use.
                    Perhaps the most important feature of all, however, is the amazing community of developers who use and contribute to AFNetworking every day. AFNetworking powers some of the most popular and critically-acclaimed apps on the iPhone, iPad, and Mac.</p>
                <p><a class="btn btn-default btn-block" href="http://afnetworking.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Mantle</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Mantle makes it easy to write a simple model layer for your Cocoa or Cocoa Touch application.</p>
                <p><a class="btn btn-default btn-block" href="https://github.com/Mantle/Mantle" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Reachability</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">ARC and GCD Compatible Reachability Class for iOS and MacOS. Drop in replacement for Apple Reachability.</p>
                <p><a class="btn btn-default btn-block" href="https://github.com/tonymillion/Reachability" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>
</div>

