<div class="row">
    <div class="col-lg-12">
        <h5>AFNetworking - <a href="http://afnetworking.com/" target="_blank">Website</a></h5>
        <p>AFNetworking is a delightful networking library for iOS and Mac OS X. It's built on top of the Foundation URL Loading System, extending the powerful high-level networking abstractions built into Cocoa. It has a modular architecture with well-designed, feature-rich APIs that are a joy to use.
            Perhaps the most important feature of all, however, is the amazing community of developers who use and contribute to AFNetworking every day. AFNetworking powers some of the most popular and critically-acclaimed apps on the iPhone, iPad, and Mac.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Mantle - <a href="https://github.com/Mantle/Mantle" target="_blank">Website</a></h5>
        <p>Mantle makes it easy to write a simple model layer for your Cocoa or Cocoa Touch application.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h5>Reachability - <a href="https://github.com/tonymillion/Reachability" target="_blank">Website</a></h5>
        <p>ARC and GCD Compatible Reachability Class for iOS and MacOS. Drop in replacement for Apple Reachability.</p>
    </div>
</div>

