<div class="row">

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Elegant Themes</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Beautiful Premium WordPress Themes.</p>
                <p><a class="btn btn-default btn-block" href="http://www.elegantthemes.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Tesla Themes</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Premium Wordpress Artworks.</p>
                <p><a class="btn btn-default btn-block" href="http://teslathemes.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Themeforest</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">Everything you need for your next creative project.</p>
                <p><a class="btn btn-default btn-block" href="http://themeforest.net/category/wordpress" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center">Woo Themes</h2>
            </div>
            <div class="panel-body">
                <p class="text-center">eCommerce, Plugins & Themes for WordPress.</p>
                <p><a class="btn btn-default btn-block" href="http://www.woothemes.com/" target="_blank">Visit Website</a></p>
            </div>
        </div>
    </div>

</div>